body{
    margin: 0px;
    padding: 0px;
}
.search_flights, .registration_login_form{
    width: 100%;
    background-image: url('./img/plane-841441_1920.jpg');
    width: 100%;
    height: 100vh;
}
.search_flights .header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.search_flights .header .logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: auto;
}
.search_flights .header .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search_flights .header .search{
    margin-right: 20px;
    margin-left: auto;
}
.search_flights .header .search form input{
    width: 320px;
    height: 45px;
    padding: 0px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}
.search_flights .header .search form button{
    width: 60px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
}
.search_flights .body{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_flights .body .form_container{
    position: relative;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 0px 20px 50px 20px;
}
.search_flights .body .form_container .form_header{
    display: inline-block;
    padding: 0px 20px;
    background-color: black;
    color: white;
    position: relative;
    top: -33px;
    left: 40px;
    border-radius: 10px;
}
.search_flights .body .form_container .form_header_text{
    font-size: 1.7rem;
}
.search_flights .body .form_container .form{
    width: 100%;
}
.search_flights .body .form_container .form form{
    width: 100%;
}
.search_flights .body .form_container .form form .search_options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search_flights .body .form_container .form form .search_options div{
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.search_flights .body .form_container .form form .search_options div label{
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.search_flights .body .form_container .form form .search_options div input{
    width: calc(100% - 20px);
    padding: 0px 10px;
    font-size: 1rem;
    background-color: #484848;
    border-radius: 10px;
    height: 60px;
    border: none;
    outline: none;
    color: white;
}
.search_flights .body .form_container .form form .search_options div input::placeholder{
    color: white;
}
.search_flights .body .form_container .form form .class_selector{
    margin-bottom: 40px;
}
.search_flights .body .form_container .form form .class_selector .checkbox{
    display: flex;
}
.search_flights .body .form_container .form form .btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.search_flights .body .form_container .form form .btn button{
    padding: 10px 20px;
    color: white;
    background-color: black;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
.search_flights .body .form_container .search_list_container{
    width: 100%;
}
.search_flights .body .form_container .search_list_container .available_sits{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.search_flights .body .form_container .search_list_container .available_sits h1{
    font-size: 1.7rem;
    margin-right: 100px;
}
.search_flights .body .form_container .search_list_container .flights{
    width: 100%;
}
.search_flights .body .form_container .search_list_container .flights table{
    width: 100%;
    border-collapse: collapse;
}
.search_flights .body .form_container .search_list_container .flights table td, .search_flights .body .form_container .search_list_container .flights table th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.search_flights .body .form_container .search_list_container .flights table th{
    font-size: 1.5rem;
}
.search_flights .body .form_container .search_list_container .flights table tr:nth-child(even){
    background-color: #dddddd;
}
.search_flights .body .form_container .search_list_container .flights table td:first-child{
    width: 70%;
}
.registration_login_form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration_login_form .form_container{
    width: 425px;
    position: relative;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.registration_login_form .form_container .header_container{
    position: relative;
    top: -50px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registration_login_form .form_container form{
    width: calc(100% - 40px);
    padding: 0px 20px;
    position: relative;
    top: -50px;
    left: 0;
}
.registration_login_form .form_container form input{
    width: calc(100% - 20px);
    padding: 0px 10px;
    height: 45px;
    margin-bottom: 10px;
    background-color: #4C4C4C;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}
.registration_login_form .form_container form input::placeholder{
    color: white;
}
.registration_login_form .form_container form button{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
    outline: none;
    color: white;
}
.registration_login_form .form_container form a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
    outline: none;
    color: white;
    margin-top: 10px;
}
.registration_login_form .form_container .forget{
    position: relative;
    top: -50px;
    left: 0;
}
.registration_login_form .form_container .forget a{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 40px);
    padding: 20px 20px 0px 20px;
    color: black;
    text-decoration: none;
}